body{
    margin:0;
    padding-top:800px;
    text-align: center;
}
.profile {
    width: 175px;
    border-radius: 50%;
    height: 200px; 
}
#name{
    font-family: 'Rampart One', cursive;
}
#welcome{
     position:absolute;
    overflow:hidden;
    left:0;
    top:0;
    bottom:0;
    right:0;
    height:800px;
    width: 100%;
    display: table;
    background: linear-gradient(purple,cyan);
    height:100%;
    color:cornsilk;
    z-index: 1;
}
.para-inner{
    display:table-cell;
    position: relative;
    text-align: center;
    vertical-align:middle;
}
.links {
    display:inline;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    background-color: cornsilk;
    padding-right: 9px;
}
background-color: cornsilk;
}
.links:hover 
{background-color:dodgerblue;}
.menu {
    font-family: sans-serif;
    position:fixed;
    top:0px;
    margin-top: 0px;
    cursor: pointer;
    z-index: 99;
    background-color: white;
    width: 100%;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
    
}
img {
    height:350px;
    width:400px;
    margin: 5px;
}
img:hover{
    transform: scale(0.9);
}
img {
    transition: transform 0.2s;
    margin: 5px;
}
#responsibility{
    background-color: orange;
}
#videos {
    background-color: greenyellow;
}
#work {
    background-color:lime;
}
#contact {
    background-color: cyan;
}
html {
    scroll-behavior: smooth;
}
.links a{
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gray;
    font-family: 'Rampart One', cursive;
}
.links:hover {
    background-color:lightskyblue;
    font-size: 25px;
    text-decoration: underline;
}
#contact_1 h3 {
    display: inline;
}
